<template>
  <div>
    <div>    
      <!-- <el-row :gutter="30">
        <el-col :span="6">
          <Sidebar />
        </el-col>
        <el-col :span="16">
          <BodyContainer />
        </el-col>
      </el-row> -->
    </div>
  </div>
</template>

<script>
// import  Sidebar  from '@/components/Sidebar.vue';
// import BodyContainer from '@/components/BodyContainer.vue';
export default {
  name: 'DisplayCardsRoute',
  data() {
    return {
      msg: "Check Props in Data"
    };
  },
  props: {},
  watch: {},
  computed: {},
  methods: {},
  components: {
    // Sidebar,
    // BodyContainer
  },
  beforeCreate() {},
  created() {},
  beforeMount() {},
  mounted() {},
  beforeDestroy() {},
  destroyed() {}

}
</script>

<style>

</style>