<template>
  <div>
    <div class="body-container-appear">
    <h1>
      <!-- Body Container -->
    </h1>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.body-container-appear{
  margin: 0 -15px;
}

</style>