<template>
  <div>
    <div class="sidebar-appear">
      <div class="ml-5">
        <img class="logo-part" src="/assets/images/Logo-2.svg" alt="LOGO" />
        <p class="logo-tag">Trusted way of banking for 3,000+ SMEs and startups in Singapore</p>
      </div>
      <div class="ml-5">
        <ul class="sidebar-options">
          <li>
            <router-link :to="{ name:'Home', path:'/home'}" class="sidebar-link">
              Home
            </router-link>
          </li>
          <li>
            <router-link :to="{ name:'Cards', path:'/cards'}" class="sidebar-link">
              Cards
            </router-link>
          </li>
          <li>
            <router-link :to="{ name:'Payments', path:'/payments'}" class="sidebar-link">
              Payments
            </router-link>
          </li>
          <li>
            <router-link :to="{ name:'Credit', path:'/credit'}" class="sidebar-link">
              Credit
            </router-link>
          </li>
          <li>
            <router-link :to="{ name:'Settings', path:'/settings'}" class="sidebar-link">
              Settings
            </router-link>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.sidebar-appear{
  background-color: #0C365A;
  color: #ffffff;
  padding: 30px 20px 20px;
  height: 90vh;
  margin: 0 -15px;
}
.logo-part{
  width: 120px;
  color: #01D167;
  padding-top: 20px;
}
.logo-tag{
  color: #496984;
  font-size: 16px;
  padding: 20px 30px 20px 10px;
}
.sidebar-options{
  list-style: none;
  padding: 10px;
  margin: 0;
}
.sidebar-options li {
  padding-bottom: 40px!important;
}
.sidebar-link{
  font-size: 18px;
  color: #fefefe;
  font-weight: 300;

}

.sidebar-link:hover{
  text-decoration: none;  
  color: #fefefe;
}

is_active {
  color: #01d167;
}

</style>