<template>
  <div id="app"> 
    <div class="box-appear">
      <!-- <router-view /> -->
      <el-row :gutter="30">
        <el-col :span="6">
          <Sidebar />
        </el-col>
        <el-col :span="16">
          <BodyContainer />
          <router-view />
        </el-col>
      </el-row>
    </div>      
  </div>
</template>

<script>
import Sidebar from '@/components/Sidebar.vue';
import BodyContainer from '@/components/BodyContainer.vue';
export default {
  name: 'app',
  components: {
    Sidebar,
    BodyContainer
  },
  computed: {
			transitionName(){
				if (this.$route.params.noTransition) {
					return '';
				}else{
					return 'slide-fade';
				}
			}
		}
}
</script>

<style>
.box-appear {
  font-family: 'Open Sans', sans-serif;
  /* height: 90vh; */
  width: 80vw;
  margin: 4% auto;
  border: 3px solid #f9f9f9;
  /* box-shadow: 1px 1px #fefefe; */
}


</style>
